<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>User update page</title>
  </head>
  <body>
        <h1>Please edit your parametrs</h1>
        <form th:method="PATCH" th:action="@{/admin/update-user}" th:object="${user}">
            <input type="hidden" th:field="*{id}">
            <label for="first_name">First Name: </label>
            <input type="text" th:field="*{firstName}" id="first_name" placeholder="Введите новое имя"/>
            <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name errors</div>
            <br><br>
            <label for="last_name">Last Name: </label>
            <input type="text" th:field="*{lastName}" id="last_name" placeholder="Введите новую фамилию"/>
            <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name errors</div>
            <br><br>
            <label for="age">Age: </label>
            <input type="text" th:field="*{age}" id="age" placeholder="Введите новый возраст"/>
            <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age errors</div>
            <br><br>
            <label for="email">Email: </label>
            <input type="text" th:field="*{username}" id="email" placeholder="Введите новый email">
            <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email errors</div>
            <br><br>
            <label for="password">Password: </label>
            <input type="password" th:field="*{password}" id="password" placeholder="Введите новый пароль"/>
            <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Pass errors</div>
            <br><br>
            <select th:field="*{roles}" multiple>
                <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.roleName.substring(5)}"></option>
            </select>

<!--            <select multiple>-->
<!--                <option th:value="${user.setRoles(allRoles.get(0))}">User</option>-->
<!--                <option th:value="${user.setRoles(allRoles.get(1))}">Admin</option>-->
<!--            </select>-->

<!--            <input type="hidden" th:field="*{roles}">-->
            <br><br>
            <input type="submit" value="Сохранить">
        </form>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>