<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="shortcut icon" href="https://spring.io/favicon.svg?v=96334d577af708644f6f0495dd1c7bc8" type="image/x-icon">
        <title>Admin panel</title>
        <style>
            body {
                background-color: #F8F9FA;
                /*min-height: 550px;*/
            }
            .user {
                color: #FFFFFF;
                font-size: 20px;
                margin: 2px;
                padding: 2px;
            }
            #Logout {
                color: #8E999E;
            }
            #Logout:hover {
                color: #C3C4C8;
            }

            #user-board {
                color: #007BFF;
                background-color: #FFFFFF;
                border-radius: 3px;
            }
            #admin-board {
                color: #FFFFFF;
                background-color: #007BFF;
                border-radius: 3px;
            }
            .sidebar-block {
                background-color: #FFFFFF;
                width: 100%;
                height: 150vh;
                padding-right: 0px;
            }
            .page-block {
                width: 100%;
                height: 100%;
            }

            /*.input-field {*/
            /*    margin-right: ;*/
            /*}*/
        </style>
    </head>

    <body>

        <nav class="navbar navbar-dark" style="background-color: #343A40;">
            <ul class="nav px-0">
                <li class="nav-item">
                    <strong><a class="nav-link disabled user" style="color: #FFFFFF;" th:text="${user.username}">Username</a></strong>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled user" style="color: #FFFFFF;">with roles:</a>
                </li>
                <li class="nav-item" th:each="role : ${user.roles}">
                    <a class="nav-link disabled user" style="color: #FFFFFF;" th:text="${role.roleName.substring(5)}">roles</a>
                </li>
            </ul>
            <form th:method="POST" th:action="@{/logout}">
                <input id="Logout" class="btn" type="submit" value="Logout">
            </form>
        </nav>

        <div class="row flex-xl-nowrap page-block">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar sidebar-block">
                <a class="nav-link disabled" style="height: 20px"></a>
                <a class="nav-link disabled" id="admin-board">Admin</a>
                <a class="nav-link active" href="/user/" id="user-board">User</a>
            </div>

            <main class="col-12 col-md-9 py-md-3 pl-md-5 bd-content" role="main">
                <h1 style="padding-bottom: 10px">Admin panel</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">New User</a>
                    </li>
                </ul>
                <div class="card">
                    <h5 class="card-header">Add new user</h5>
                    <div class="card-body">
                        <form class="col-md-4 mx-auto text-center" th:method="POST" th:action="@{/registration}" th:object="${newUser}">
                            <div class="form-group">
                                <label for="first_name1" style="font-weight: bold;">First Name</label>
                                <input type="text" class="form-control" th:field="*{firstName}" id="first_name1" placeholder="First name"/>
                                <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name errors</div>
                            </div>
                            <div class="form-group">
                                <label for="last_name1" style="font-weight: bold;">Last Name</label>
                                <input type="text" class="form-control" th:field="*{lastName}" id="last_name1" placeholder="Last name"/>
                                <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name errors</div>
                            </div>
                            <div class="form-group">
                                <label for="age1" style="font-weight: bold;">Age</label>
                                <input type="number" class="form-control" th:field="*{age}" id="age1" placeholder="Age"/>
                                <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age errors</div>
                            </div>
                            <div class="form-group">
                                <label for="Email1" style="font-weight: bold;">Email</label>
                                <input type="email" class="form-control" th:field="*{username}" id="Email1" placeholder="Email">
                                <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email errors</div>
                            </div>
                            <div class="form-group">
                                <label for="Password1" style="font-weight: bold;">Password</label>
                                <input type="password" class="form-control" th:field="*{password}" id="Password1" placeholder="Password">
                                <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Pass errors</div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect2" style="font-weight: bold;">Role</label>
                                <select th:field="*{roles}" multiple class="form-control input-field" id="exampleFormControlSelect2" style="max-height: 60px;">
                                    <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.roleName.substring(5)}">1</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success">Add new user</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>